#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NUM  1
#define NAV  2
#define FUN  3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        qw_tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        op_del {
            bindings = <&kp DEL>;
            key-positions = <8 9>;
        };

        er_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <3 2>;
        };

        rt_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <3 4>;
        };


        df_par {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <13 12>;
        };

        fg_par {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <13 14>;
        };        

        klenter {
            bindings = <&kp ENTER>;
            key-positions = <18 17>;
        };

        jk- {
            bindings = <&kp MINUS>;
            key-positions = <16 17>;
        };

        hj_tilde {
            bindings = <&kp TILDE>;
            key-positions = <15 16>;
        };


        yu_apo {
            bindings = <&kp APOS>;
            key-positions = <6 5>;
        };

        ui_quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <6 7>;
        };


        we_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2 3>;
        };

        qwe_grav {
            bindings = <&kp GRAVE>;
            key-positions = <0 1 2>;
        };

        psembspipe {
            bindings = <&kp BACKSLASH>;
            key-positions = <9 19>;
        };

        BT {
            bindings = <&mo 4>;
            key-positions = <24 4>;
        };




        as_caps {
            bindings = <&caps_word>;
            key-positions = <11 10>;
            layers = <0>;
        };

        zx_undo {
            bindings = <&kp LC(Z)>;
            key-positions = <20 21>;
        };



        ohm {
            bindings = <&ohm>;
            key-positions = <15 8>;
        };

        pi {
            bindings = <&pi>;
            key-positions = <9 7>;
        };

        mu {
            bindings = <&mu>;
            key-positions = <26 6>;
        };



        GMR {
            bindings = <&tog 5>;
            key-positions = <4 14 26>;
        };

        right_click {
            bindings = <&mkp MB2>;
            key-positions = <11 12>;
        };

        mid_click {
            bindings = <&mkp MCLK>;
            key-positions = <11 12 13>;
        };
    };

    macros {
        ohm: ohm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp N0 &kp N9 &kp N5 &kp NUMBER_6>;

            label = "OHM";
        };

        mu: mu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp N0 &kp N9 &kp N3 &kp N7>;

            label = "MU";
        };

        pi: pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp N0 &kp N9 &kp NUMBER_6 &kp N0>;

            label = "PI";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &mt LEFT_SHIFT A  &kp S  &kp D  &lt 3 F  &kp G  &kp H  &lt 3 J  &kp K  &kp L  &mt LEFT_SHIFT SEMI  &mt LCTRL Z  &mt LALT X  &kp C  &kp V  &kp B  &kp N  &mt RIGHT_SHIFT M  &mt LGUI COMMA  &mt LALT DOT  &mt RCTRL FSLH  &lt 1 BACKSPACE  &mt LEFT_ALT SPACE  &lt 2 ENTER  &lt 2 BACKSPACE  &kp SPACE  &lt 1 RIGHT_GUI
            >;
        };

        NUM {
            display-name = "NUM";
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &trans  &kp FSLH  &kp N7  &kp N8  &kp N9  &kp MINUS  &trans  &kp N4  &kp N5  &kp N6  &trans  &kp STAR  &kp N4  &kp N5  &kp N6  &kp PLUS  &trans  &kp N1  &kp N2  &kp N3  &trans  &kp DOT  &kp N1  &kp N2  &kp N3  &kp EQUAL  &trans  &kp N0  &trans  &trans  &kp N0  &kp RET
            >;
        };

        NAV {
            display-name = "NAV";
            bindings = <
&trans  &kp HOME  &kp UP  &kp END  &kp PAGE_UP  &trans  &kp HOME  &kp UP  &kp END  &kp PG_UP  &kp LEFT_SHIFT  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &kp LEFT_CONTROL  &kp LEFT_ALT  &trans  &kp LEFT_SHIFT  &kp LEFT_GUI  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        FUN {
            display-name = "FUN";
            bindings = <
&bootloader  &kp SPACE  &kp SPACE  &kp SPACE  &kp C_VOL_UP  &kp C_BRI_UP  &kp F7  &kp F8  &kp F9  &kp F10  &kp SPACE  &kp SPACE  &kp F5  &kp SPACE  &kp C_VOL_DN  &kp C_BRI_DN  &kp F4  &kp F5  &kp F6  &kp F11  &studio_unlock  &kp SPACE  &trans  &trans  &trans  &bootloader  &kp F1  &kp F2  &kp F3  &kp F12  &trans  &trans  &sys_reset  &sys_reset  &trans  &trans
            >;
        };

        BT {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_CLR_ALL  &bt BT_CLR  &trans  &trans  &trans  &trans  &trans  &bt BT_NXT  &bt BT_PRV  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        GMR {
            bindings = <
&kp TAB  &kp Q  &kp W  &kp E  &kp T  &kp R  &trans  &kp UP_ARROW  &trans  &trans  &kp LSHFT  &kp A  &kp S  &kp D  &kp F  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &kp LCTRL  &kp LEFT_ALT  &kp C  &kp P  &kp B  &trans  &trans  &trans  &trans  &trans  &mt LCTRL BACKSPACE  &kp SPACE  &mkp MB1  &trans  &kp SPACE  &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
